		* {
			box-sizing: border-box;
		}
		body {
			font-family: "Times New Roman", Times, serif;
			margin: 0 auto;
			padding: 0;
		}
		#headerContainer {
			margin: 0 auto;
			padding: 0;
			position: relative;
		}
		#navBar {
			position: relative;
			text-align: center;
			margin: 0 auto;
			width: 100%;
			height: 65px;
			border:none;
			border-bottom: 1px solid white;
			padding: 5px;
			padding-top: 10px;
			padding-right:1px;
			background-color: rgba(0, 0, 0, 0.9);
		}
		#navBar li {
			text-align: center;
			color: orange;
			font-size: 20px;
			letter-spacing: 1px;
			display: inline-block;
			list-style-type: none;
		}
		.nav-li {
			padding: 1.2em;
		}
		#headerBox {
			position: absolute;
			margin: 0 auto;
			padding: 0;
			border: 8px solid rgba(255, 255, 255, 0.7);
			height: 250px;
			width: 500px;
			margin-left: 28%;
			top: 180px;
			z-index: 3;
		}
		#headerBox-h1 {
			text-align: center;
			font-size: 60px;
			color:rgba(255, 255, 255);
			padding-top: 20px;
		}
		#tc-logo {
			position: absolute;
			margin: 0 auto;
			padding: 0;
			z-index: 2;
			top: 0px;
			margin-left: 17%;
		}
		#id-of-More{
			z-index: 1;
		}
		
		.btn-secondary {
			background-color: rgba(0, 0, 0, 0.2);
			padding-bottom: 10px;
		}
		.btn-secondary:hover {
			background-color: rgba(0, 0, 0, 0.9);
		}
		.divBar {
			position: relative;
			margin: 0 auto;
			margin-bottom: -32px; /* This is the gap between divBar and mediaWrapper*/
			padding: 0;
			width: 100%;
			height: 50px;
			top: 1px;
			background-color: rgba(0, 0, 0, 0.9);
		}
		
		.div-whitespace{ /* this div can be use to seperate each section nicely and easily.*/
			position: relative;
			background-color: white;
			margin-top: 20px;
			/* border: 1px solid black; */ /* use this to check how for the section from each other.*/
			height:20px;
			width: 100%;
		}
		#table-container {
			position: relative;
			margin: 20px auto;
			padding: 30px;
			width: 100%;
			zoom:80%;
			font-weight: bold;
			color: white;
			background-image: url("./mediasection/PhotobySamson Duborg-Rankin on Unsplash.jpg");
			background-size: cover;
		}
		.table-midcontent {
			padding-top: 5px;
		}
		.table-lowercontent { /*CSS FOR TABLE LOWER CONTENT OF MEDIA SECTION*/ 
			padding: 2px;
			padding-top: 10px;
			padding-bottom: 20px;
		}
		.textbackground {
			background-color: rgba(0, 0, 0, 0.7);
			background-size: contain;
			border-radius: 10px;
		}
		.emptybox {
			width: 398px;
			height: 280px;
		}
		#mediaWrapper {
			overflow: hidden; /* Contains mediabox1 and mediabox2 */
			width: 100%;
			height: 340px;
			margin: 0 auto;
			margin-top: 5%;
			margin-bottom: 1px;
    		border: 2px solid black; /* You can use this to check how the media section behave with the header section*/
		}
		#mediabox1 {
			padding: 1px;
			margin: 0 auto;
			margin-top: 10px;
			margin-left: 5px;	
			width: 570px;
   			float:left; /* add this */
    		/*border: 1px solid red; this can be use to check how the margin, padding and border looks with the other div*/
    		zoom: 90%;
		}
		#mediabox2 {
			text-align:left;
			float: left;
    		width: 520px;
			margin: 0 auto;
			margin-top: 60px;
			margin-left: 30px;
			padding: 10px;	
			color: black;
    		font-family: 'Roboto', sans-serif;
			border-radius: 10px;			
    		/*border: 1px solid green;  this can be use to check how the margin, padding and border looks with the other div*/
    		zoom:85%;
		}
		
		#eventbox {
			margin: 0 auto;
			margin-bottom: 50px;
			padding: 50px;
			height: auto;
			width: 100%;
			padding: 5px;
			background-color:;
			background-size: cover;
			opacity: 0.9;
			
		}

		.tab-content {
			zoom:85%;
			height: auto;
			margin-top: 0px;
			margin-left: 1px;
			padding: 5px;
			padding-left: 6%;
			padding-top: 15px;
			background-color: white;
			display: flex;
		
		}

		#nav-upcoming-tab, #nav-events-tab, #nav-featured-tab {
			color: white;
			font-weight: bold
			margin-right: 5px;
			margin-bottom: 1px;
			border: 1px solid white;
			background-color: rgba(0, 0, 0, .9);
		}
		#nav-upcoming-tab:focus, #nav-events-tab:focus, #nav-featured-tab:focus {
			color: black;
			font-weight: bold;
			background-color: orange;
		}
		.card {
			display: inline-block;
			margin-bottom: 5px;
		}
		.event-date {
			font-size: 14px;
			font-weight: bold;	
		}
		.search-container {
			margin-left: 47%;
			margin-top: 5px;
		}